<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Courses</h2>
        <hr />
        {{#if courses.length}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Course Code</th>
                            <th>Course Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each courses}}
                            <tr>
                                <td><a href="/course/{{courseId}}">{{courseCode}}</a></td>
                                <td><a href="/students?course={{courseId}}">{{courseDescription}}</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <p>No courses available.</p>
        {{/if}}
    </div>
    <div class="col-md-12 text-center">
        {{#unless courses}}
            <strong>{{message}}</strong>
        {{/unless}}
    </div>
</div>
