<div class="row">
    <div class="col-md-12">
        <br>
        <h2>Students</h2>
        <hr />
        {{#if students.length}}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Student Num</th>
                            <th>Full Name</th>
                            <th>Email</th>
                            <th>Address</th>
                            <th>Status</th>
                            <th>Course ID</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each students}}
                            <tr>
                                <td>{{studentNum}}</td>
                                <td><a href="/student/{{studentNum}}">{{firstName}} {{lastName}}</a></td>
                                <td><a href="mailto:{{email}}">{{email}}</a></td>
                                <td>{{address}}</td>
                                <td>{{status}}</td>
                                <td><a href="/students?course={{course}}">{{course}}</a></td>
                            </tr>
                        {{/each}}
                    </tbody>
                </table>
            </div>
        {{else}}
            <p>No students available.</p>
        {{/if}}
    </div>
    <div class="col-md-12 text-center">
        {{#unless students}}
            <strong>{{message}}</strong>
        {{/unless}}
    </div>
</div>
